<form action="{{ path('stripe_create') }}" method="post">
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ stripe['publishable_key'] }}"
            data-description="Purchasing {{ book.title }}"
            data-amount="{{ book.price * 100 }}"
            data-locale="auto"></script>
    <input type="hidden" name="amount" value="{{ book.price }}">
    <input type="hidden" name="name" value="{{ book.title }}">
</form>