<div class="container">
    <div class="row">
        <div class="col comments" id="comments2">
            {% macro recursiveComment(comment) %}
                {% import _self as self %}
                        <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
                            {% if comment.user %}
                                <a href=""><img class="mx-auto rounded img-fluid" src="/uploads/users/{{ comment.user.avatar }}" alt="avatar"></a>
                            {% endif %}
                        </div>
                        <div class="comment-content col-md-11 col-sm-10">
                            <h6 class="small comment-meta">
                                <a href="#" class="username user" id="username_comment_{{ comment.id }}">{{ comment.name }}</a>
                                <input type="hidden" value="{{ comment.name }}" id="comment-name-recipient">
                                {{ comment.createdAt|ago }}, {{ comment.createdAt|date('H:i') }}
                            </h6>
                            <div class="comment-body">
                                <p>
                                    <span>{{ comment.comment }}</span>
                                    <br>
                                    <a href="" class="text-right small reply" data-comment-id="{{ comment.id }}"><i class="ion-reply"></i> Reply</a>
                                    {% if app.user %}
                                    <i class="{% if app.user in comment.usersLikes %} fas {% else %} far {% endif %} text-primary fa-thumbs-up ml-3 like-comment" id="like-comment" data-comment-id="{{ comment.id }}"></i>
                                    {% else %}
                                        <a href="" data-toggle="modal" data-target="#exampleModal"><i class="far text-primary fa-thumbs-up ml-3"></i></a>
                                    {% endif %}
                                    <span class="badge badge-primary" id="badge-like-comment">{{ comment.usersLikes.count }}</span>
                                </p>
                            </div>
                        </div>

                    {% if comment.children|length %}
                        {% for child in comment.children %}
                            <div class="comment-reply col-md-11 offset-md-1 col-sm-10 offset-sm-2">
                                <div class="row parent{{ child.id }}">
                                {{ self.recursivecomment(child) }}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
            {% endmacro %}

            {% from _self import recursiveComment %}

            {% if comments %}
                {% for comment in comments %}
                    <div class="comment mb-2 row parent{{ comment.id }}">
                        {{ recursiveComment(comment) }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>