{% trans_default_domain 'FOSUserBundle' %}

<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-3">
            <img class="img-fluid" src="/uploads/users/{{ user.avatar }}" alt="">
        </div>
        <div class="col-auto">
            <p><span class="font-weight-bold">{{ 'profile.show.username'|trans }}:</span> {{ user.username }}</p>
            <p><span class="font-weight-bold">{{ 'profile.show.email'|trans }}:</span> {{ user.email }}</p>
        </div>

        {% if app.user == user %}
            <div class="col text-right">
                <a href="{{ path('posts_new') }}" class="btn btn-success">Create post</a>
            </div>
        {% endif %}
    </div>


</div>
<div class="container">
    <h3 class="text-center">Posts</h3>
    <hr>
    {% if user == app.user %}
    {% set ownerPost = true %}
    {% endif %}
    {{ include('@Post/post/list.html.twig') }}
</div>
