{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <p class="col-2"><img class="img-fluid" src="/uploads/users/{{ user.avatar }}" alt=""></p>

</div>
<div class="container">
    {{ include('@Post/post/list.html.twig', {'posts': user.posts}) }}
</div>
