{% trans_default_domain 'FOSUserBundle' %}

<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-3">
            <img class="img-fluid" src="/uploads/users/{{ user.avatar }}" alt="">
        </div>
        <div class="col">
            <p><span class="font-weight-bold">{{ 'profile.show.username'|trans }}:</span> {{ user.username }}</p>
            <p><span class="font-weight-bold">{{ 'profile.show.email'|trans }}:</span> {{ user.email }}</p>
        </div>
    </div>


</div>
<div class="container">
    <h3 class="text-center">Posts</h3>
    <hr>
    {{ include('@Post/post/list.html.twig', {'posts': user.posts}) }}
</div>
