<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% block stylesheets %}
        <!-- Bootstrap 4 -->
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ asset('css/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css') }}">
        <!-- Other -->
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        {#<!-- Typeahead -->#}
        {#<link rel="stylesheet" href="{{ asset('jquery-typeahead/dist/jquery.typeahead.min.css') }}">#}
    {% endblock %}
</head>
<body>

{% block header %}
    {{ include('default/header.html.twig') }}
{% endblock %}

<main class="container">

    <div class="row rounded posts">

        <div class="col ">
            {% block name_for_posts %}{% endblock %}
            {% block body %}{% endblock %}
        </div>

        {% block sidebar %}
            <div class="col-3 bg-light">
                {{ include('default/sidebar.html.twig') }}
            </div>
        {% endblock %}

    </div>

</main>

<!-- Bootstrap 4 -->
<script src="{{ asset('js/jquery.js') }}"></script>
<script src="{{ asset('js/popper.js') }}"></script>
<script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
<!-- List.js -->
{#<script type="application/javascript" src="{{ asset('js/list.js') }}"></script>#}
<script type="application/javascript" src="{{ asset('js/typehead.js') }}"></script>
{#<script type="application/javascript" src="{{ asset('jquery-typeahead/dist/jquery.typeahead.min.js') }}"></script>#}
<script type="application/javascript">
    var selectedOption = $('#selection-of-search option:selected').val();
    var searchBtn = $('#search-button');
    var searchInput = $('#search-input');
    var selectOfOptions = $('#selection-of-search');
    var eraser = $('#search-input-eraser');

    selectOfOptions.change(function () {
        selectedOption = $(this).val();
        searchInput.val('');
    });

    eraser.click(function (e) {
        e.preventDefault(e);
        searchInput.val('');
    });

    searchInput.typeahead({
        source: function (query, process ) {
            return $.ajax({
                url: '{{ app.request.getBaseUrl() }}' + '/search',
                type: 'GET',
                data: {
                    'query': query,
                    'type': selectedOption
                },
                dataType: 'json',
                success: function (data) {
                    process(data);
                }
            });
        },
        delay: 500
    });

    // new List('search-group', }
    //     valueNames: ['name']
    // });
</script>

{#<script>#}
    {#$.typeahead({#}
        {#input: '.js-typeahead-game_v1',#}
        {#minLength: 1,#}
        {#maxItem: 0,#}
        {#order: "asc",#}
        {#hint: true,#}
        {#group: true,#}
        {#maxItemPerGroup: 5,#}
        {#dropdownFilter: "all",#}
        {#source: function (query) {#}
            {#console.log(query);#}
        {#}#}
    {#});#}
{#</script>#}

{% block javascripts %}{% endblock %}

</body>
</html>