<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% block stylesheets %}
        <!-- Bootstrap 4 -->
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ asset('css/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css') }}">
        <!-- Other -->
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    {% endblock %}
</head>
<body>

<script>
    // This is called with the results from from FB.getLoginStatus().
    function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
            // Logged into your app and Facebook.
            testAPI();
        } else {
            // The person is not logged into your app or we are unable to tell.
            document.getElementById('status').innerHTML = 'Please log ' +
                'into this app.';
        }
    }

    function checkLoginState() {
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    }


    window.fbAsyncInit = function() {
        FB.init({
            appId      : '122185968631492',
            cookie     : true,  // enable cookies to allow the server to access
                                // the session
            xfbml      : true,  // parse social plugins on this page
            version    : 'v2.12' // use graph api version 2.8
        });
    };

    // Load the SDK asynchronously
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function testAPI() {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me?fields=id,name,email', {scope: 'public_profile,email'}, function(response) {
            var data = {
                'id': response.id,
                'username': response.name,
                'email': response.email
            };
            $.ajax({
                url: '{{ app.request.getBaseUrl() }}' + '/fb/user',
                type: 'GET',
                data: data
            });
            location.reload();
        });
    }
</script>

{% block header %}
    {{ include('default/header.html.twig') }}
{% endblock %}

<main class="container">

    <div class="row rounded posts justify-content-center">

        <div class="col-9">
            {% block name_for_posts %}{% endblock %}
            {% block body %}{% endblock %}
        </div>

        {% block sidebar %}
            {% if categories and tags %}
            <div class="col-3 bg-light">
                {{ include('default/sidebar.html.twig') }}
            </div>
            {% endif %}
        {% endblock %}

    </div>

</main>

<!-- Bootstrap 4 -->
<script src="{{ asset('js/jquery.js') }}"></script>
<script src="{{ asset('js/popper.js') }}"></script>
<script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
<!-- List.js -->
{#<script type="application/javascript" src="{{ asset('js/list.js') }}"></script>#}
<script type="application/javascript" src="{{ asset('js/typehead.js') }}"></script>
<script type="application/javascript">
    var selectedOption = $('#selection-of-search option:selected').val();
    var searchBtn = $('#search-button');
    var searchInput = $('#search-input');
    var selectOfOptions = $('#selection-of-search');
    var eraser = $('#search-input-eraser');

    selectOfOptions.change(function () {
        selectedOption = $(this).val();
        searchInput.val('');
    });

    eraser.click(function (e) {
        e.preventDefault(e);
        searchInput.val('');
    });

    searchInput.typeahead({
        source: function (query, process ) {
            return $.ajax({
                url: '{{ app.request.getBaseUrl() }}' + '/search',
                type: 'GET',
                data: {
                    'query': query,
                    'type': selectedOption
                },
                dataType: 'json',
                success: function (data) {
                    process(data);
                }
            });
        },
        delay: 500
    });
</script>


<script type="text/javascript">
    var apiKey = 'AIzaSyDnqyXc6CBzdIEIWwf0p3fs4BngF3wRv-0';
    var discoveryDocs = ["https://people.googleapis.com/$discovery/rest?version=v1"];
    var clientId = '855676469059-k8s5n0hm504lm5npcl8v2158370khi2o.apps.googleusercontent.com';
    var scopes = 'email';
    var authorizeButton = document.getElementById('authorize-button-google');
    function handleClientLoad() {
        gapi.load('client:auth2', initClient);
    }
    function initClient() {
        gapi.client.init({
            apiKey: apiKey,
            discoveryDocs: discoveryDocs,
            clientId: clientId,
            scope: scopes
        }).then(function () {
            authorizeButton.onclick = handleAuthClick;
        });
    }
    function handleAuthClick(event) {
        event.preventDefault(event);
        makeApiCall();
        gapi.auth2.getAuthInstance().signIn();
    }
    // Load the API and make an API call.  Display the results on the screen.
    function makeApiCall() {
        gapi.client.people.people.get({
            'resourceName': 'people/me',
            'requestMask.includeField': 'person.names,person.emailAddresses'
        }).then(function(resp) {
            var emails = resp.result.emailAddresses;
            var email = emails[0].value;
            var names = resp.result.names;
            var name = names[0].familyName;
            var id = emails[0].metadata.source.id;
            data = {
                'id': id,
                'username': name,
                'email': email
            };
            console.log(data);
            $.ajax({
                url: '{{ app.request.getBaseUrl() }}' + '/google/user',
                type: 'GET',
                data: data
            });
        }).then(function () {
            location.reload();
        });
    }
</script>
<script async="async" defer="defer" src="https://apis.google.com/js/api.js"
        onload="this.onload=function(){};handleClientLoad();"
        onreadystatechange="if (this.readyState === 'complete') this.onload();" type="application/javascript"></script>





{% block javascripts %}{% endblock %}

</body>
</html>