<header class="p-5 header">


    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="row justify-content-end">
            <a class="text-muted" href="{{ path('fos_user_profile_show_over') }}">
                <img src="/uploads/users/{{ app.user.avatar }}" class="rounded-circle" width="50" height="50" alt="">
                {{ app.user.username }}
            </a>
        </div>
    {% else %}
        <div class="row justify-content-end">
            {#href="{{ path('fos_user_security_login') }}"#}
            {{ include(':default:modalLogIn.html.twig') }}
            <a class="text-muted" data-toggle="modal" data-target="#exampleModal" style="cursor: pointer;">Login</a>
            <a class="text-muted ml-3" href="{{ path('fos_user_registration_register') }}">Register</a>
        </div>
    {% endif %}
    <div class="row justify-content-end my-3">
        {{ include(':default:search.html.twig') }}
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <a href="{{ path('posts_index') }}" class="text-light h6">Home</a>
        </div>
        <div class="col-auto">
            <a href="{{ path('contacts') }}" class="text-light h6">Contacts</a>
        </div>
    </div>
    <div class="row justify-content-center pt-5">
        <h1 class="display-3 font-weight-bold" style="color: #ebeaea;">Super Blog</h1>
    </div>
    <div class="row my-2 justify-content-center pb-5">
        <p class="h3"><span style="color: #ebeaea;">From</span> <a href="" class="text-info">Tilek Kubanov</a></p>
    </div>



</header>