{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="my-5 text-center">Books list</h1>

    <div class="row justify-content-center">
        {% for book in books %}

            <div class="col-4 mt-4">
                <div class="card">
                    <a href="{{ path('book_show', { 'id': book.id }) }}" class="text-dark">
                        <img class="card-img-top" src="{{ asset('image/3.jpg') }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ book.title }}</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </a>
                    <div class="card-body">
                        <span>$</span><span class="h3">{{ book.price }}</span>
                        {% if app.user %}

                            <a href="{{ path('book_buy', { 'id': book.id }) }}" class="btn btn-outline-info float-right">Buy</a>

                        {% else %}

                            <a href="exampleModal" data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-info float-right">Buy</a>

                        {% endif %}
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}
