{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/owlcarousel/dist/assets/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/owlcarousel/dist/assets/owl.theme.default.min.css') }}">

{% endblock %}

{% block body %}

    {{ include('@Post/category/list.html.twig') }}
    {{ include('@Post/tag/list.html.twig') }}
    {{ include('@Post/post/list.html.twig') }}

{% endblock %}

{% block paginator %}
    <nav aria-label="Page navigation example" class="col-12">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link bg-dark text-muted" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item active"><a class="page-link bg-dark text-muted" href="#">1</a></li>
            <li class="page-item"><a class="page-link bg-dark text-muted" href="#">2</a></li>
            <li class="page-item"><a class="page-link bg-dark text-muted" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link bg-dark text-muted" href="#">Next</a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('css/owlcarousel/dist/owl.carousel.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $(".owl-carousel").owlCarousel({
                loop: true,
                items: 6,
                margin: 10,
                autoplay: true,
                autoplayTimeout: 5000,
                autoplayHoverPause: true,
                dots: false,
            });
        });
    </script>

{% endblock %}