<!-- Posts -->
{% for post in posts %}
<div class="post col-12 mb-5">
    <div class="text-center"><i class="fas fa-2x fa-bullseye"></i></div>
    <div class="card border-0">
        <div class="card-body">
            <h2 class="card-title mb-3 mb-md-0">{{ post.title }}</h2>
            <span class="small text-muted"><i class="far fa-clock"></i>&nbsp;{{ post.createdAt|date('d') }} <a href="">{{ post.createdAt|date('M, Y') }}</a> {{ post.createdAt|date('H:i') }}</span>
            &nbsp;&nbsp;<br class="d-block d-md-none">
            <span class="small text-muted"><i class="fas fa-user"></i>&nbsp;<a href="">{{ post.user }}</a></span>
            &nbsp;&nbsp;<br class="d-block d-md-none">
            <span class="small text-muted">Category: <a href="" class="">{{ post.category }}</a></span>
            <p class="card-text mt-4">{{ post.blockquote|raw }}</p>
            <a href="{{ path('posts_show', { 'slug': post.slugTitle, 'id': post.id}) }}" class="">Read more...</a>
        </div>
    </div>
</div>

{% endfor %}



<!-- End Posts -->