{% extends 'base.html.twig' %}

{% block sidebar %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bootstrap-tagsinput/dist/bootstrap-tagsinput.css') }}">
{% endblock %}

{% block body %}
    <div class="row justify-content-center my-5">
        <div class="col-auto">
            <h1>Post creation</h1>
        </div>

        <div class="col-10 row justify-content-center">
            {{ form_start(form, {'attr': {'class': 'col-12'}}) }}
            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.category) }}
                {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.image) }}
                {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.blockquote) }}
                {{ form_widget(form.blockquote, {'attr': {'class': 'form-control', 'required': 'false'}, 'id': 'blockquote'}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.content) }}
                {{ form_widget(form.content, {'attr': {'class': 'form-control', 'required': 'false'}, 'id': 'content'}) }}
            </div>
            <div class="form-group d-none">
                {{ form_label(form.tags) }}
                {{ form_widget(form.tags, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group text-dark">
                <select name="tags[]" id="myTags" class="form-control" multiple>

                </select>
            </div>

            <button type="submit" formnovalidate class="btn btn-primary">Create</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/tinymce/js/tinymce/tinymce.min.js') }}"></script>

    <script src="{{ asset('js/tinymce/js/tinymce/jquery.tinymce.min.js') }}"></script>
    <script>tinymce.init({ selector:'#blockquote' });</script>
    <script>tinymce.init({ selector:'#content' });</script>

    <script src="{{ asset('bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js') }}"></script>
    <script>
        $('select#myTags').tagsinput({
            confirmKeys: [32]
        });
    </script>


{% endblock %}
