{% extends 'base.html.twig' %}

{% block header %}
    {{ include('default/headerPost.html.twig', {'image': post.image, 'title': post.title}) }}
{% endblock %}

{% block body %}

    <div class="post col-12 mb-3">
        <div class="card border-0">
            <div class="card-body">
                <h2 class="card-title my-4 text-center">{{ post.title }}</h2>
                {{ include('@Post/post/moreInfo.html.twig') }}
                {{ post.content|raw }}

            </div>
        </div>
    </div>

    {{ include('@Post/comment/list.html.twig') }}
    <hr>
    {{ include('@Post/comment/new.html.twig') }}

{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="application/javascript">
        var reply, username = null;

        var textarea = $('textarea#comment_form');
        var oldText = $('#label-for-comment-text').html();
        var replyElm = $('.reply');

        $('#comment-button').click(function (e) {
            e.preventDefault(e);
            var commentId = null;

            if (username === null) {
                reply = '';
            }
            if (username) {
                commentId = reply.data('comment-id');
            }

            var data = {
                'name': $('#comment-name').val(),
                'comment': textarea.val(),
                'reply': commentId
            };

            console.log(data);

            $.ajax({
                type: 'POST',
                url: '{{ app.request.getBaseUrl() }}' + '/comment/store/create/' + {{ post.id }},
                data: data,
                dataType: 'html',
                success: function ($data) {
                    var replyNew;

                    if (reply) {
                        replyNew = reply.parents('div.parent' + reply.data('comment-id')).append($data).find('a.reply');
                    } else {
                        replyNew = $('#comments2').append($data).find('a.reply');
                    }

                    replyComment(replyNew);
                },
                error: function ($err) {
                }
            });
        });

        var replyComment = function (element) {
            element.click(function (event) {
                event.preventDefault(event);
                reply = $(event.target);

                console.log(reply);

                $('#parent_comment').val(reply.data('comment-id'));
                username = $('#username_comment_' + reply.data('comment-id')).text();
                var str = 'Your comment to: ' +
                    '<span class="newText_to_comment">'
                    + username +
                    '<i class="fas fa-times ml-2 delete-reply"></i></span>';

                textarea
                    .val('@' + username + ', ')
                    .focus();

                $('#label-for-comment-text').html(str);

                $('.delete-reply').click(function () {
                    $('#label-for-comment-text').html(oldText);
                    textarea.val('');
                    username = null;
                });
            });
        };

        replyComment(replyElm);

    </script>
{% endblock %}

