{% extends 'base.html.twig' %}

{% block header %}
    {{ include('default/headerPost.html.twig', {'image': post.image, 'title': post.title}) }}
{% endblock %}

{% block body %}

<div class="post col-12 mb-3">
    <div class="card border-0">
        <div class="card-body">
            <h2 class="card-title my-4 text-center">{{ post.title }}</h2>
            {{ include('@Post/post/moreInfo.html.twig') }}
            {{ post.content|raw }}

        </div>
    </div>
</div>

{{ include('@Post/comment/list.html.twig') }}
    <hr>
{{ include('@Post/comment/new.html.twig') }}

    {% block javascripts %}
        {{ parent() }}
        <script>
            $('.reply').on('click', function (event) {
                event.preventDefault(event);
                var reply = $(event.target);
                $('#parent_comment').val(reply.data('comment-id'));
                var username = $('#username_comment_' + reply.data('comment-id')).text();
                var textarea = $('textarea#comment_form');
                textarea.val('@' + username + ', ');
                textarea.focus();
            });
        </script>
    {% endblock %}

{% endblock %}

