{% extends 'base.html.twig' %}

{% block header %}
    {{ include('default/headerPost.html.twig', {'image': post.image, 'title': post.title}) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/owlcarousel/dist/assets/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/owlcarousel/dist/assets/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/fancybox-master/dist/jquery.fancybox.min.css') }}">
{% endblock %}

{% block body %}

    <div class="post col-12 mb-3">
        <div class="card border-0">
            <div class="card-body">
                <h2 class="card-title my-4 text-center">{{ post.title }}</h2>
                {{ include('@Post/post/moreInfo.html.twig') }}
                <br>
                {#<div class=" owl-carousel owl-theme">#}
                {#{% for slide in post.slides %}#}
                    {#<div class="item"><a href=""><img src="/uploads/images/{{ slide.imgPath }}" alt=""></a></div>#}
                {#{% endfor %}#}
                {#</div>#}

                <div class="row justify-content-center">
                    <!--Main Slider Container-->
                    <div class="col-9 slider-container">
                        <!--Main Slider Start-->
                        <div id="slider" class="slider owl-carousel">
                            {% for slide in post.slides %}
                                <div class="item">
                                    <div class="content">
                                        <a data-fancybox="gallery" href="/uploads/images/large/{{ slide.imgPath }}">
                                            <img src="/uploads/images/{{ slide.imgPath }}" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!--Main Slider End-->

                        <!--Navigation Links For the Main Items-->
                        <div class="slider-controls">
                            <a class="slider-left" href="javascript:;"><span><i class="fa fa-2x fa-chevron-left"></i></span></a>
                            <a class="slider-right" href="javascript:;"><span><i class="fa fa-2x fa-chevron-right"></i></span></a>
                        </div>
                    </div>

                    <!--Thumbnail slider container-->
                    <div class="col-9 thumbnail-slider-container">
                        <!--Thumbnail Slider Start-->
                        <div id="thumbnailSlider" class="thumbnail-slider owl-carousel">
                            {% for slide in post.slides %}
                                <div class="item">
                                    <div class="content">
                                        <img src="/uploads/images/{{ slide.imgPath }}" class="img-responsive">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!--Thumbnail Slider End-->
                    </div>
                </div>

                {{ post.content|raw }}

            </div>
        </div>
    </div>

    {{ include('@Post/comment/list.html.twig') }}
    <hr>
    {{ include('@Post/comment/new.html.twig') }}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('css/owlcarousel/dist/owl.carousel.min.js') }}"></script>
    <script type="application/javascript">
        var reply, username = null;

        var textarea = $('textarea#comment_form');
        var oldText = $('#label-for-comment-text').html();
        var replyElm = $('.reply');

        $('#comment-button').click(function (e) {
            e.preventDefault(e);
            var commentId = null;

            if (username === null) {
                reply = '';
            }
            if (username) {
                commentId = reply.data('comment-id');
            }

            var data = {
                'name': $('#comment-name').val(),
                'comment': textarea.val(),
                'reply': commentId
            };

            console.log(data);

            $.ajax({
                type: 'POST',
                url: '{{ app.request.getBaseUrl() }}' + '/comment/store/create/' + {{ post.id }},
                data: data,
                dataType: 'html',
                success: function ($data) {
                    var replyNew;

                    if (reply) {
                        replyNew = reply.parents('div.parent' + reply.data('comment-id')).append($data).find('a.reply');
                    } else {
                        replyNew = $('#comments2').append($data).find('a.reply');
                    }
                    $('#count-of-comments').html(parseInt($('#count-of-comments').html()) + 1);
                    replyComment(replyNew);
                },
                error: function ($err) {
                }
            });
        });

        var replyComment = function (element) {
            element.click(function (event) {
                event.preventDefault(event);
                reply = $(event.target);

                console.log(reply);

                $('#parent_comment').val(reply.data('comment-id'));
                username = $('#username_comment_' + reply.data('comment-id')).text();
                var str = 'Your comment to: ' +
                    '<span class="newText_to_comment">'
                    + username +
                    '<i class="fas fa-times ml-2 delete-reply"></i></span>';

                textarea
                    .val('@' + username + ', ')
                    .focus();

                $('#label-for-comment-text').html(str);

                $('.delete-reply').click(function () {
                    $('#label-for-comment-text').html(oldText);
                    textarea.val('');
                    username = null;
                });
            });
        };

        replyComment(replyElm);

    </script>
    <script type="application/javascript">
        // $('.owl-carousel').owlCarousel({
        //     loop:true,
        //     nav:true,
        //     items: 1
        // })

        // reference for main items
        var slider = $('#slider');
        // reference for thumbnail items
        var thumbnailSlider = $('#thumbnailSlider');
        //transition time in ms
        var duration = 500;

        // carousel function for main slider
        slider.owlCarousel({
            loop:false,
            nav:false,
            autoHeight:true,
            items:1
        }).on('changed.owl.carousel', function (e) {
            //On change of main item to trigger thumbnail item
            thumbnailSlider.trigger('to.owl.carousel', [e.item.index, duration, true]);
        });

        // carousel function for thumbnail slider
        thumbnailSlider.owlCarousel({
            loop:false,
            center:true, //to display the thumbnail item in center
            nav:false,
            responsive:{
                0:{
                    items:3
                },
                600:{
                    items:4
                },
                1000:{
                    items:6
                }
            }
        }).on('click', '.owl-item', function () {
            // On click of thumbnail items to trigger same main item
            slider.trigger('to.owl.carousel', [$(this).index(), duration, true]);

        }).on('changed.owl.carousel', function (e) {
            // On change of thumbnail item to trigger main item
            slider.trigger('to.owl.carousel', [e.item.index, duration, true]);
        });


        //These two are navigation for main items
        $('.slider-right').click(function() {
            slider.trigger('next.owl.carousel');
        });
        $('.slider-left').click(function() {
            slider.trigger('prev.owl.carousel');
        });
    </script>
    <script src="{{ asset('css/fancybox-master/dist/jquery.fancybox.min.js') }}"></script>
{% endblock %}

