{% extends 'base.html.twig' %}

{% block header %}
    {{ include('default/headerPost.html.twig', {'image': post.image, 'title': post.title}) }}
{% endblock %}

{% block body %}

<div class="post col-12 mb-5">
    <div class="card border-0">
        <div class="card-body">
            <h2 class="card-title my-4 text-center">{{ post.title }}</h2>
            {{ include('@Post/post/moreInfo.html.twig') }}
            <a href="{{ path('posts_edit', {'id': post.id}) }}">Edit</a>
            {{ post.content|raw }}

        </div>
    </div>
</div>

{% endblock %}

